.searchBar {
  height: 70px;
  display: flex;
  flex-direction: column;
  width: 45%;

  label {
    display: inline-block;
    height: 20px;
    color: #363636;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }

  input {
    margin-top: 10px;
    height: 100%;
    outline: none;
    border: 1px solid rgb(219, 216, 216);
    border-radius: 3px;
    background: white url('../../../public/search.png') 2% no-repeat;
    padding-left: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .searchBar {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  .searchBar {
    width: 80%;
  }
}
@media only screen and (min-width: 768px) {
  .searchBar {
    width: 60%;
  }
}
@media only screen and (min-width: 992px) {
  .searchBar {
    width: 50%;
  }
}
@media only screen and (min-width: 1200px) {
  .searchBar {
    width: 45%;
  }
}
